:root, .light, .light-theme {
    --primary-1: #fcfcfc;
    --primary-2: #f9f9f9;
    --primary-3: #f0f0f0;
    --primary-4: #e8e8e8;
    --primary-5: #e1e1e1;
    --primary-6: #d9d9d9;
    --primary-7: #cecece;
    --primary-8: #bbb;
    --primary-9: #000;
    --primary-10: #2e2e2e;
    --primary-11: #636363;
    --primary-12: #1f1f1f;

    --primary-a1: #00000003;
    --primary-a2: #00000006;
    --primary-a3: #0000000f;
    --primary-a4: #00000017;
    --primary-a5: #0000001e;
    --primary-a6: #00000026;
    --primary-a7: #00000031;
    --primary-a8: #00000044;
    --primary-a9: #000000;
    --primary-a10: #000000d1;
    --primary-a11: #0000009c;
    --primary-a12: #000000e0;

    --primary-contrast: #fff;
    --primary-surface: #f8f8f8cc;
    --primary-indicator: #000;
    --primary-track: #000;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
        :root, .light, .light-theme {
            --primary-1: oklch(99.2% 0 none);
            --primary-2: oklch(98.1% 0 none);
            --primary-3: oklch(95.5% 0 none);
            --primary-4: oklch(93.1% 0 none);
            --primary-5: oklch(90.9% 0 none);
            --primary-6: oklch(88.6% 0 none);
            --primary-7: oklch(85.2% 0 none);
            --primary-8: oklch(79.3% 0 none);
            --primary-9: oklch(0% 0 none);
            --primary-10: oklch(30% 0 none);
            --primary-11: oklch(50.1% 0 none);
            --primary-12: oklch(24% 0 none);

            --primary-a1: color(display-p3 0 0 0 / 0.0118);
            --primary-a2: color(display-p3 0 0 0 / 0.0235);
            --primary-a3: color(display-p3 0 0 0 / 0.0588);
            --primary-a4: color(display-p3 0 0 0 / 0.0902);
            --primary-a5: color(display-p3 0 0 0 / 0.1176);
            --primary-a6: color(display-p3 0 0 0 / 0.149);
            --primary-a7: color(display-p3 0 0 0 / 0.1922);
            --primary-a8: color(display-p3 0 0 0 / 0.2667);
            --primary-a9: color(display-p3 0 0 0);
            --primary-a10: color(display-p3 0 0 0 / 0.8196);
            --primary-a11: color(display-p3 0 0 0 / 0.6118);
            --primary-a12: color(display-p3 0 0 0 / 0.8784);

            --primary-contrast: #fff;
            --primary-surface: color(display-p3 0.9725 0.9725 0.9725 / 0.8);
            --primary-indicator: oklch(0% 0 none);
            --primary-track: oklch(0% 0 none);
        }
    }
}

.dark, .dark-theme {
    --primary-1: #141414;
    --primary-2: #1a1a1a;
    --primary-3: #232323;
    --primary-4: #2a2a2a;
    --primary-5: #313131;
    --primary-6: #3a3a3a;
    --primary-7: #484848;
    --primary-8: #606060;
    --primary-9: #fff;
    --primary-10: #f6f6f6;
    --primary-11: #b3b3b3;
    --primary-12: #eee;

    --primary-a1: #00000000;
    --primary-a2: #ffffff07;
    --primary-a3: #ffffff10;
    --primary-a4: #ffffff18;
    --primary-a5: #ffffff1f;
    --primary-a6: #ffffff29;
    --primary-a7: #ffffff38;
    --primary-a8: #ffffff52;
    --primary-a9: #ffffff;
    --primary-a10: #fffffff5;
    --primary-a11: #ffffffad;
    --primary-a12: #ffffffed;

    --primary-contrast: #311921;
    --primary-surface: #20202080;
    --primary-indicator: #fff;
    --primary-track: #fff;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
        .dark, .dark-theme {
            --primary-1: oklch(19.1% 0 none);
            --primary-2: oklch(22% 0 none);
            --primary-3: oklch(25.6% 0 none);
            --primary-4: oklch(28.4% 0 none);
            --primary-5: oklch(31.3% 0 none);
            --primary-6: oklch(34.9% 0 none);
            --primary-7: oklch(40% 0 none);
            --primary-8: oklch(49% 0 none);
            --primary-9: oklch(100% 0 none);
            --primary-10: oklch(97.3% 0 none);
            --primary-11: oklch(76.8% 0 none);
            --primary-12: oklch(94.8% 0 none);

            --primary-a1: color(display-p3 0 0 0 / 0);
            --primary-a2: color(display-p3 1 1 1 / 0.0255);
            --primary-a3: color(display-p3 1 1 1 / 0.0638);
            --primary-a4: color(display-p3 1 1 1 / 0.0936);
            --primary-a5: color(display-p3 1 1 1 / 0.1234);
            --primary-a6: color(display-p3 1 1 1 / 0.1617);
            --primary-a7: color(display-p3 1 1 1 / 0.2213);
            --primary-a8: color(display-p3 1 1 1 / 0.3234);
            --primary-a9: color(display-p3 1 1 1);
            --primary-a10: color(display-p3 1 1 1 / 0.9617);
            --primary-a11: color(display-p3 1 1 1 / 0.6766);
            --primary-a12: color(display-p3 1 1 1 / 0.9277);

            --primary-contrast: #311921;
            --primary-surface: color(display-p3 0.1333 0.1333 0.1333 / 0.5);
            --primary-indicator: oklch(100% 0 none);
            --primary-track: oklch(100% 0 none);
        }
    }
}

[data-accent-color="primary"] {
    --accent-1: var(--primary-1);
    --accent-2: var(--primary-2);
    --accent-3: var(--primary-3);
    --accent-4: var(--primary-4);
    --accent-5: var(--primary-5);
    --accent-6: var(--primary-6);
    --accent-7: var(--primary-7);
    --accent-8: var(--primary-8);
    --accent-9: var(--primary-9);
    --accent-10: var(--primary-10);
    --accent-11: var(--primary-11);
    --accent-12: var(--primary-12);

    --accent-a1: var(--primary-a1);
    --accent-a2: var(--primary-a2);
    --accent-a3: var(--primary-a3);
    --accent-a4: var(--primary-a4);
    --accent-a5: var(--primary-a5);
    --accent-a6: var(--primary-a6);
    --accent-a7: var(--primary-a7);
    --accent-a8: var(--primary-a8);
    --accent-a9: var(--primary-a9);
    --accent-a10: var(--primary-a10);
    --accent-a11: var(--primary-a11);
    --accent-a12: var(--primary-a12);

    --accent-contrast: var(--primary-contrast);
    --accent-surface: var(--primary-surface);
    --accent-indicator: var(--primary-indicator);
    --accent-track: var(--primary-track);
}